// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$purple-50: #FDFBFF;
$purple-100:#F9F1FF;
$purple-200:#F0DCFF;
$purple-300:#E7C8FF;
$purple-400:#DFB3FF;
$purple-500:#D69FFF;
$purple-600:#B34DFF;
$purple-700:#8C19E2;
$purple-800:#6100A9;
$purple-900:#320058;
