@import "colors";

.bg-purple-50 {
  background: $purple-50;
}

.text-purple-50 {
  color: $purple-50;
}



.bg-purple-100 {
  background: $purple-100;
}

.text-purple-100 {
  color: $purple-100;
}



.bg-purple-200 {
  background: $purple-200;
}

.text-purple-200 {
  color: $purple-200;
}




.bg-purple-300 {
  background: $purple-300;
}

.text-purple-300 {
  color: $purple-300;
}




.bg-purple-400 {
  background: $purple-400;
}

.text-purple-400 {
  color: $purple-400;
}




.bg-purple-500 {
  background: $purple-500;
}

.text-purple-500{
  color: $purple-500;
}



.bg-purple-600 {
  background: $purple-600;
}

.text-purple-600 {
  color: $purple-600;
}



.bg-purple-700 {
  background: $purple-700;
}

.text-purple-700 {
  color: $purple-700;
}



.bg-purple-800{
  background: $purple-800;
}

.text-purple-800 {
  color: $purple-800;
}



.bg-purple-900 {
  background: $purple-900;
}

.text-purple-900 {
  color: $purple-900;
}
