// Specific CSS for your home-page
.home1 {
  background: asset-url("journey6.png");
  height: 100vh;
  background-size: cover;
}

.home2 {
  background: asset-url("fulljourney.png");
  height: 100vh;
  background-size: cover;
}

.purple {
    position: absolute;
    bottom: 183px;
    left: 34%;
    width: 99px;
    background-color: #d69fff;
    border-color: #d69fff;
    border-radius: 30px;
}
