// Import page-specific CSS files here.
@import "home";
@import "flash_show";
@import "deck_show";
@import "explosion";

.card {
  text-align: center;
  background-color: #01002a;
  border-radius: 0px;
}

.heading {
  text-align: center;
  color: $purple-700;
  font-size: 25px;


}

.card-body{
  color: #ffffff;

  a {
    background: #fffffff0;
    color: #01002a;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: 0.2s ease;
    text-decoration: none;
    display: inline-flex;
    align-items: center;


    &:hover {
      background: white;
      transition: 0.2s ease;
      text-decoration: none;
    }
  }
}

.nav-header {
  padding: 5px 10px;
  padding-bottom: 8px;
}

.number-badge {
  border-radius: 50%;
  height: 22px;
  width: 22px;
  background: $purple-300;
  color: $purple-800;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}
