<div class = home>
<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> %>
<%# link_to "start", topics_path, class: "btn purple" %>
</div>
<button class = "btn purple"> Start </button>
