.pill {
  border-radius: 20px;
  // width: 99px;
  background-color: #d69fff;
  border-color: #d69fff;
  border-radius: 30px;
}

.text-pill {
  border-radius: 22px;
  width: 241px;
  padding: 0 13px;
  color: white;
}
.green {
  background-color: #0a9039;
}
.red {
  background-color: #e84537;
}
