.pill {
  border-radius: 20px;
  // width: 99px;
  background-color: #d69fff;
  border-color: #d69fff;
  border-radius: 30px;
}

.text-pill {
  background-color: #1d1d6f;
    border-radius: 22px;
    width: 241px;
    padding: 0 13px;
    color: white;
}
