.pill {
    width: 90%;
    border-radius: 6px;
    color: white !important;
    background-color: #bb5afd;
    border-color: #bb5afd;
    width: 100%;
}

.text-pill {
  border-radius: 22px;
  width: 241px;
  padding: 0 13px;
  color: white !important;
}
.green {
  background-color: #0a9039;
}
.red {
  background-color: #e84537;
}
button.btn-pill > a{
  color: white !important;
}

.pill-end1 {
  display: inline-block;
  width: 33%;
  border-radius: 6px;
  color: white;
  background-color: #bb5afd;
  border-color: #bb5afd;
}
.pill-end2 {
    display: inline-block;
    width: 33%;
    border-radius: 6px;
    border-width: 2px;
    color: #bb5afd;
    background-color: white;
    border-color: #bb5afd;
    /* float: right; */
}
