
.form-check {
  padding: 0px;
}

.form-check-label {
  color: black !important;
    border: solid;
    border-color: #9e9e9e;
    border-width: 2px;
    padding: 10px;
    margin-bottom: 4px;
    border-radius: 7px;
    background-color: white;
    cursor: pointer;
    width: 270px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    position: relative;
    padding-left: 35px;
    line-height: 1rem;

    // font-weight: bold;
}

// .form-check:checked {
//   border: solid !important;
//   border-color: #d69efd !important;
//   border-width: 1px !important;
// }

.form-check-input {
  position: absolute;
  transform: scale(0);
}
// li:has(> a.active) { /* styles to apply to the li tag */ }

.form-check-input:checked + label {
  border: solid !important;
  border-color: #bb5afd !important;
  border-width: 2px !important;
}

.form-check-input + label:before {
    content: "";
    width: 21px;
    height: 21px;
    position: relative;
    display: inline-block;
    background-image: asset-url('unchecked.jpg');
    background-size: cover;
    top: 50%;
    left: 7px;
    transform: translatey(-50%);
    position: absolute;
  }
.form-check-input:checked + label:before {
  background-image: asset-url('check.png');
  margin-right: 12px;
}

.correct-sub {
  color: black !important;
  border: solid;
  border-color: #bb5afd;
  border-width: 2px;
  padding: 10px;
  margin-bottom: 4px;
  border-radius: 7px;
  background-color: white;
  cursor: pointer;
  width: 270px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  position: relative;
  padding-left: 35px;
  line-height: 1rem;
  // font-weight: bold;
}
.correct-sub:before {
    content: "";
    width: 21px;
    height: 21px;
    position: relative;
    display: inline-block;
    background-image: asset-url('check.png');
    background-size: cover;
    top: 50%;
    left: 7px;
    transform: translatey(-50%);
    position: absolute;
  }
.incorrect-sub {
  color: black !important;
    border: solid;
    border-color: #ff1125;
    border-width: 2px;
    padding: 6px;
    margin-bottom: 4px;
    border-radius: 7px;
    background-color: white;
    cursor: pointer;
    width: 270px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    // font-weight: bold;
}

.incorrect-sub:before {
    content: "";
    width: 21px;
    height: 21px;
    position: relative;
    display: inline-block;
    background-image: asset-url('ex.png');
    background-size: cover;
    margin-right: 12px;
  }

.flashcard_answer > .col-form-label {
  visibility: hidden;
  position: absolute;
  width: 0%;
  height: 0%;
}
