<h2>⭐️Deck Complete⭐️</h2>
<br>
<div class="container">
  <h4> <%= @score %> Cards Correct</h4>
  <br>
  <button class = "btn pill">Repeat Deck</button>
  <button class = "btn pill">Choose Deck</button>
  <br>
  <br>
  <% if @review.count > 0 %>
    <h4>Areas to Review</h4>
    <table>
      <% @review.each do |card| %>
        <tr>
          <td> <%= card.question %> </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
